<section class="content">

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Talent Details</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
</section>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Talent Details
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Talent</th> <td>{{talents.talent_name}}</td>
            </tr>
            <tr>
              <th>EMPLOYERS</th> <td>{{talents.company_name}}</td>
            </tr>
            <tr>
              <th>APPLICATION TIMELINE</th> <td>{{talents.closig_date}}</td>
            </tr>
            <tr>
              <th>DUTIES AND RESPONSIBILITIES</th> <td>{{talents.duties_and_respo}}</td>
            </tr>
            <tr>
              <th>QUALIFICATION AND EXPERIENCE</th> <td>{{talents.qualification}}</td>
            </tr>
          </tbody>

        </table>
        <div class="card-footer">
            <form [formGroup]="myForm" (ngSubmit)="submit()">
              <input type="hidden" formControlName="talent" value="{{talents.id}}">
              <input type="hidden" formControlName="employer" value="{{talents.employer}}">
              <input type="hidden" formControlName="status">

              <ng-container *ngIf="!isApplied">
                <button class="btn btn-primary" [disabled]="isApplied">Apply</button>
                <hr>
              </ng-container>
            </form>
          <ng-container *ngIf="isApplied">
            <span class="text-success">Applied</span>
          </ng-container>
          <p *ngIf="cv_status === 'Complete'" style="color: green;">!Your Cv is Complete</p>
          <p *ngIf="cv_status === 'Incomplete'" style="color: red;">Complete your CV</p>

        </div>
      </div>
    </div>
  </div>
</div>
