<section class="content">

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Talent Details</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
</section>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Talent Details
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <tr>
            <th>POST</th> <td>Accaountant</td>
          </tr>
          <tr>
            <th>EMPLOYERS</th> <td>Spice Tech</td>
          </tr>
          <tr>
            <th>APPLICATION TIMELINE</th> <td>2023-03-29 2023-04-11</td>
          </tr>
          <tr>
            <th>DUTIES AND RESPONSIBILITIES</th> <td> <p>i.To prepare finacial Position</p><p>i.To prepare finacial Position</p>  </td>
          </tr>
          <tr>
            <th>QUALIFICATION AND EXPERIENCE</th> <td>Holder of Master’s degree in Computer Science or Computer Engineering with GPA not less than 3.8 and Bachelor’s degree in Computer Science or Computer Engineering with GPA not less than 3.5 from any recognized Institution</td>
          </tr>
        </table>
        <div class="card-footer">
          <button class="btn btn-primary">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
