<section class="content">

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Academic Qualification</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
     <div class="card">
      <div class="card-header">
     <strong>Accademic Qualification Form</strong>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                Education Leve :<select name="" id="" class="form-control">
                  <option value="">Degree</option>
                  <option value="">Phd</option>
                  <option value="">Diploma</option>
                </select>
              </div>
              <div class="col-md-4">
                Institution : <input type="text" class="form-control" placeholder="enter institution">
              </div>
              <div class="col-md-4">
                Program  : <input type="text" class="form-control" placeholder="enter program">
              </div>
            </div><hr>
            <div class="row">
              <div class="col-md-4">
                Country: <select name="" id="" class="form-control">
                  <option value="">Tanzania</option>
                  <option value="">Kenya</option>
                  <option value="">Uganda</option>
                </select>
              </div>
              <div class="col-md-4">
                Date From: <input type="date" class="form-control">
              </div>
              <div class="col-md-4">
                To :<input type="date" class="form-control">
              </div>
            </div><hr>
            <div class="row">
             <div class="col-md-4">
              Attach your Certificate : <input type="file" class="form-control">
             </div>
            </div><hr>
            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-success">Save</button>
              </div>
            </div>
          </div>
        </div><hr>
        <div class="card">
          <div class="card-header">
           <strong> Accademic Qualification Saved</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <table class="table table-stripe">
               <thead>
                <tr>
                  <th>Sn</th>
                  <th>Level</th>
                  <th>Institution</th>
                  <th>Program Name</th>
                  <th>Country</th>
                  <th>Date From</th>
                  <th>To</th>
                  <th>File</th>
                  <th>Action</th>
                </tr>
               </thead>
               <tbody>

               </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>
