<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Available Talents</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Contacts</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Talent List
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <th width="85%">Description</th>
            <th  width="15%">Closing Date</th>
          </thead>
          <tbody>
            <td>
              <b>Post </b> : ACCOUNTANT <br>
              <b>Employers</b> : SPICE TECHNOLOGY<br>
             <a [routerLink]="['/home/talent_details/']">More Details</a>
            </td>
            <td>
              2021-01-22 <br>
              <a href="" class="btn btn-primary">Apply</a>
            </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
