<section class="content">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Work Experience</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
     <div class="card">
      <div class="card-header">
     <strong>Work Experience Form</strong>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                Compony Name : <input type="text" class="form-control" placeholder="enter company name">
              </div>
              <div class="col-md-4">
                Job Tittle : <input type="text" class="form-control" placeholder="enter job tittle">
              </div>
              <div class="col-md-4">
                Suppervisor Name : <input type="text" class="form-control" placeholder="enter suppervisor name">
              </div>
            </div><hr>
            <div class="row">
              <div class="col-md-4">
                Suppervisor Phone : <input type="text" class="form-control" placeholder="enter suppervisor phone">
              </div>
              <div class="col-md-4">
                Start Date: <input type="date" class="form-control">
              </div>
              <div class="col-md-4">
                End Date:<input type="date" class="form-control">
              </div>
            </div><hr>
            <div class="row">
             <div class="col-md-4">
              Attach your Certificate : <input type="file" class="form-control">
             </div>
            </div><hr>
            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-success">Save</button>
              </div>
            </div>
          </div>
        </div><hr>
        <div class="card">
          <div class="card-header">
           <strong>Work Experience Saved</strong>
          </div>
          <div class="card-body">
            <div class="row">
              <table class="table table-stripe">
               <thead>
                <tr>
                  <th>Sn</th>
                  <th>Company Name</th>
                  <th>Job Tittle</th>
                  <th>Suppervisor Name</th>
                  <th>Suppervisor Phone</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Action</th>
                </tr>
               </thead>
               <tbody>

               </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>
