<nav class="navbar navbar-expand-lg navbar navbar-dark bg-info">
  <a class="navbar-brand" >Portal Talent Zanzibar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']"> <i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/vacance']"><i class="fa fa-trophy" aria-hidden="true"></i> Talents <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"[routerLink]="['/login']">  <i class="fas fa-sign-out-alt"></i> Login<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"[routerLink]="['/register']"> Register<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"> Employee<span class="sr-only">(current)</span></a>
      </li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>
