<body class="hold-transition ">
  <div class="container">
    <div class="row">
      <div class="" style="margin: auto;">

    <div class="register-box " >
      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Register a new membership</p>

          <div class="row">
            <div class="col-md-12">
              Username: <input type="text" name="" id="" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Email: <input type="text" name="" id="" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Password: <input type="text" name="" id="" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              Confirm Password: <input type="text" name="" id="" class="form-control">
            </div>
          </div><hr>
          <div class="row">
            <div class="col-md-12">
              <a href="" mat-raised-button color="primary" >Sign UP <i class="fa fa-plane-paper"></i> </a>
            </div>
          </div>
          <a href="login.html" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>



      </div>
    </div>
  </div>
  <!-- <div *ngIf="myForm.submitted && myForm.invalid" class="error-alert">
    Form submission failed. Please check your inputs and try again.
  </div> -->

</body>
