<body class="hold-transition ">
  <div class="container">
    <div class="row">
      <div class="" style="margin: auto;">

    <div class="register-box " style="width: 950px;" >
      <div class="row">
        <div class="col-md-12">
         <div class="card">
          <div class="card-body">
            <div class="card">
              <div class="card-footer" >
                Talent Posts By Category
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4" *ngFor="let data of talentscat">
                   <li><a (click)="view(data.talent_category_id)" href="#" >{{data.talent_category_name}}({{data.talent_count}})</a></li>
                  </div>
                  <!-- <div class="col-md-4">
                    <li><a href="">Information technology</a></li>
                    <li><a href="">Computer Application</a></li>
                  </div>
                  <div class="col-md-4">
                    <li><a href="">Information technology</a></li>
                    <li><a href="">Computer Application</a></li>
                    <li><a href="">Information technology</a></li>
                    <li><a href="">Computer Application</a></li>
                  </div> -->
                </div>
              </div>
            </div><hr>
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    Create Cv
                  </div>
                  <div class="card-body">
                    <li>1 register account</li>
                    <li>2 complete field </li>
                    <li>3 Generate you CV</li>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    Apply Talent
                  </div>
                  <div class="card-body">
                    <li>1 register account</li>
                    <li>2 complete CV </li>
                    <li>3 Apply Talent</li>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <div class="card-header">
                    Employee
                  </div>
                  <div class="card-body">
                    <li>1 register account</li>
                    <li>2 complete field </li>
                    <li>3 Post talent </li>
                  </div>
                </div>
              </div>
            </div>
          </div><hr>
         <div class="row">
          <div class="card-header">
            <h5 class="text-center">Copyright</h5>
          </div>
         </div>
         </div>
        </div>
      </div>
    </div>



      </div>
    </div>
  </div>

</body>

