<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>CARRICULUM VITAE</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">User Profile</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
     <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <strong>Carriculum Vitae Preview</strong> <a href="" class="btn btn-success">Print cv</a>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <strong>Personal Information</strong>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <strong><i class="fa fa-user"></i></strong> {{personal_info.first_name}}  {{ personal_info.second_name }} {{ personal_info.last_name }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-md-4">
                    <strong><i class="fa fa-phone"></i></strong> : {{ personal_info.phone  }}
                  </div>
                  <div class="col-md-4">
                    <strong><i class="fa fa-envelope"></i></strong> : {{ personal_info.address  }}
                  </div>
                  <div class="col-md-4">
                    <strong><i class="fa fa-address-book"></i></strong> : {{ personal_info.dob  }}
                  </div>
                  <hr>

                </div><hr>
                Gender :  {{ personal_info.gender }}
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                 <strong><i class="fa fa-graduation-cap"></i> Education</strong>
                </div>
              </div>
              <div class="card-body">
                <div class="row" *ngFor="let edu of education">
                  <div class="col-md-12">
                   <b ><p style="color: rgb(153, 153, 215);">{{edu.education_level}}</p></b>
                   <P>{{edu.program}}</P>
                   <b><p>{{edu.estart_date}} - {{edu.eend_date}}</p></b>
                  </div>
                </div><hr>
                <!-- <div class="row">
                  <div class="col-md-12">
                    <b><p style="color: rgb(153, 153, 215);">Zazibar Institute of Finaciaal Administration</p></b>
                    <P>Bachelor Degree in Information Communication Technology With Accounting</P>
                    <b><p>January 2020 - february 2023</p></b>
                   </div>
                </div><hr> -->
              </div>
            </div>
          </div>
        </div><hr>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                 <strong><i class="fas fa-briefcase"></i> Work Experience</strong>
                </div>
              </div>
              <div class="card-body">
                <div class="row" *ngFor="let exp of work_exp">
                  <div class="col-md-12">
                   <b><p style="color: rgb(153, 153, 215);">{{exp.company_name}}</p></b>
                   <P>{{exp.suppervisor_phone}}</P>
                   <b><p>{{exp.suppervisor_name}}</p></b>
                   <b><p>{{exp.wstart_date}} - {{exp.wend_date}}</p></b>
                  </div>
                </div><hr>
              </div>
            </div>
          </div>
        </div><hr>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                 <strong><i class="fa fa-pen"></i> Skills</strong>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <b><p style="display: inline" *ngFor="let sk of skills">{{sk.skills_name}}, </p></b>
                  </div>
                </div><hr>
              </div>
            </div>
          </div>
        </div><hr>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                 <strong><i class="fa fa-book"></i>  Specialization</strong>
                </div>
              </div>
              <div class="card-body">
                <div class="row" *ngFor="let sp of specialization">
                  <div class="col-md-12">
                   <b><p style="color: rgb(153, 153, 215);">{{sp.specialization_name}}</p></b>
                  </div>
                </div><hr>
              </div>
            </div>
          </div>
        </div><hr>
      </div>
     </div>
    </div>
  </div>
</div>
