.spinner-border {
  display: inline-block !important;
}

.spinner-border-sm {
  height: 1.5rem !important;
  width: 1.5rem !important;
}
body{
  background-color:gainsboro;
    height: 800px;
}
.register-box{
  padding-top: 80px;
}

