<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="../../index2.html"><b>Admin</b>LTE</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-group mb-3">
            <input type="text" class="form-control" formControlName="username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <!-- <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">
              <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>
              <div *ngIf="loginForm.controls.email.errors.email">Invalid email format</div>
            </div> -->
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <!-- <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
              <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
            </div> -->
          </div>
          <div class="row">

            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" [disabled]="loading">Login</button>
              <span *ngIf="!loading">Login</span>
              <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span *ngIf="loading">Logging in...</span>
            </div>
            <!-- /.col -->
          </div>
        </form>



        <p class="mb-0">
          <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="text-center">Register a new membership</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->


  </body>
