
<body class="hold-transition ">
  <div class="container">
    <div class="row">
      <div class="" style="margin: auto;">

    <div class="register-box " style="width: 950px;" >
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              Talent List
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <th width="80%">Description</th>
                  <th  width="20%">Closing Date</th>
                </thead>
                <tbody>
                  <td>
                    <b>Talent</b> : <br>
                    <b>Employers</b> : <br>
                   <a href="">More Details</a>
                  </td>
                  <td>
                    2021-01-22 <br>
                    <a href="" ><i class="fa fa-lock"></i> Logint to Apply</a>
                  </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>



      </div>
    </div>
  </div>

</body>

