<section class="content">

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Personal Information</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
         <strong> Personal Information :</strong> <strong> <i class="fa fa-user"></i></strong>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              First Name : <input type="text" class="form-control" placeholder="enter first name">
            </div>
            <div class="col-md-4">
              Second Name : <input type="text" class="form-control" placeholder="enter second name">
            </div>
            <div class="col-md-4">
              Last Name : <input type="text" class="form-control" placeholder="enter last name">
            </div>
          </div><hr>
          <div class="row">
            <div class="col-md-4">
              Email : <input type="email" class="form-control" placeholder="name@example.com">
            </div>
            <div class="col-md-4">
              Address : <input type="text" class="form-control" placeholder="enter street address">
            </div>
            <div class="col-md-4">
              Phone : <input type="text" class="form-control" placeholder="+255 XXX XXX XXX">
            </div>
          </div><hr>
          <div class="row">
            <div class="col-md-4">
              Zanzibar ID : <input type="text" class="form-control" placeholder="enter Zanzibar ID">
            </div>
            <div class="col-md-4">
              Select your Gender :
             <select name="" id="" class="form-control">
              <option value="female">Female</option>
              <option value="male">Male</option>
             </select>
            </div>
            <div class="col-md-4">
              Date Of Birth :
              <input type="date" class="form-control">
            </div>
          </div><hr>
          <div class="row">
            <div class="col-md-4">
              <button type="submit" class="btn btn-success">Submit <i class="fa fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between">
           <strong> Personal Information</strong><a href="" ><strong><i class="fa fa-edit"></i></strong></a>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <strong><i class="fa fa-user"></i></strong> Salim Said Mohd
            </div>
          </div><hr>
          <div class="row">
            <div class="col-md-4">
              <strong><i class="fa fa-phone"></i></strong> : +255 000 000
            </div>
            <div class="col-md-4">
              <strong><i class="fa fa-envelope"></i></strong> : salim@gmail.com
            </div>
            <div class="col-md-4">
              <strong><i class="fa fa-address-book"></i></strong> : Chwaka Zanzibar
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
