<section class="content">

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Specialization</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Dashboard v1</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-12">
     <div class="card">
      <div class="card-header">
     <strong>Specialization Form</strong>
      </div>
      <div class="card-body">
        <form [formGroup]="myForm" (ngSubmit)="submit()">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-4">
                  Specialization:
                  <input type="text" class="form-control" placeholder="enter specialization" formControlName="specialization_name">
                </div>
              </div>
              <hr>
              <div class="col-md-4">
                <button class="btn btn-success" [disabled]="!myForm.valid">Save</button>
              </div>
            </div>
          </div>
        </form>
        <hr>
      <hr>
        <div class="card">
          <div class="card-header">
           <strong>Specialization Saved</strong>
          </div>
       <!-- card body -->
       <div class="card-body" >
        <div class="d-flex justify-content-end">
          <mat-form-field >
            <mat-label>Search</mat-label>
            <input style="padding: 2px;" matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          </mat-form-field>
        </div>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="specialization">
              <mat-header-cell *matHeaderCellDef class="specialization-header">Specializaion</mat-header-cell>
              <mat-cell *matCellDef="let element" class="specialization-column">{{element.specialization_name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="Action">
              <mat-header-cell *matHeaderCellDef class="action-header">Action</mat-header-cell>
              <mat-cell *matCellDef="let element" class="action-column">
                <!-- <a (click)="view(element.id)" mat-icon-button color="primary" aria-label="Example icon button with a home icon"><mat-icon>visibility</mat-icon></a> -->
                <a (click)="edit(element.id)" mat-icon-button color="success" aria-label="Example icon button with a home icon"><mat-icon> border_color</mat-icon></a>
                <a (click)="delete(element.id)" mat-icon-button color="warn" aria-label="Example icon button with a home icon"><mat-icon>delete</mat-icon></a>
              </mat-cell>

            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

      </div>
        </div>
      </div>
     </div>
    </div>
  </div>
</div>
